<link rel="stylesheet" href="/bundles/acmedemo/css/bootstrap.min.css" />

<style>
    body {
        margin: 15px;
    }

    ul {
        list-style: none;
    }
</style>
<p>Hola <strong>{{ name }}</strong>!</p>
